@using Karma.MvcUI.Models.Security;
@model RegisterViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" src="~/KarmaUI/img/login.jpg" alt="">
                    <div class="hover">
                        <h4>Buralarda Yeni Misin?</h4>
                        <p>Birbirinden güzel yüzlerce ürünü uygun fiyata bu sitede.</p>
                        <a class="primary-btn" asp-controller="Security" asp-action="Register">Hesap Oluştur</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Kayıt Ol</h3>
                    <form class="row login_form" asp-action="Register" asp-controller="Security" method="post" id="contactForm">
                        <div class="col-md-12 form-group">
                            <input type="text" required asp-for="UserName" class="form-control" placeholder="Ad Soyad" onfocus="this.placeholder = ''" onblur="this.placeholder = 'E Posta Adresi'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" required asp-for="Email" class="form-control" placeholder="E Posta Adresi" onfocus="this.placeholder = ''" onblur="this.placeholder = 'E Posta Adresi'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" required asp-for="Password" class="form-control" id="name" placeholder="Şifre" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Şifre'">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="password" required asp-for="Password" class="form-control" id="name" placeholder="Şifre Tekrar" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Şifre'">
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" value="Kayıt Ol" class="primary-btn">Kayt Ol</button>
                            <a asp-action="ForgotPassword" asp-controller="Security">Şifreni Mi Unuttun</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

