@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="zxx" class="no-js">
@await Html.PartialAsync("/Views/PartialViews/_HeaderPartialView.cshtml")
<body>
    @await Component.InvokeAsync("Navbar")
    @await Component.InvokeAsync("BannerArea")

    @await Html.PartialAsync("/Views/PartialViews/IndexPartials/_FeaturesPartialView.cshtml")

    @await Component.InvokeAsync("CategoryArea")
    @await Component.InvokeAsync("ProductArea")
    @await Component.InvokeAsync("ExclusiveDeal")
    @await Component.InvokeAsync("BrandArea")
    @await Component.InvokeAsync("RelatedProduct")
    @await Html.PartialAsync("/Views/PartialViews/_FooterPartialView.cshtml")
    @await Html.PartialAsync("/Views/PartialViews/_ScriptsPartialView.cshtml")
</body>
</html>