@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- start features Area -->
<section class="features-area section_gap">
    <div class="container">
        <div class="row features-inner">
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/KarmaUI/img/features/f-icon1.png" alt="">
                    </div>
                    <h6>Ücretsiz Teslimat</h6>
                    <p>Tüm Siparişlerinize ÜCRETSİZ Teslimat</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/KarmaUI/img/features/f-icon2.png" alt="">
                    </div>
                    <h6>İade Garantisi</h6>
                    <p>Şartsız Koşulsuz İade İmkanı</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/KarmaUI/img/features/f-icon3.png" alt="">
                    </div>
                    <h6>7/24 Destek</h6>
                    <p>7/24 Destek Ekibimzile Yanınızdayız</p>
                </div>
            </div>
            <!-- single features -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="f-icon">
                        <img src="~/KarmaUI/img/features/f-icon4.png" alt="">
                    </div>
                    <h6>Gücenli Ödeme</h6>
                    <p>3D Secure Payment İle Güvenli Ödeme </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end features Area -->