@model BannerAreaViewModel

<section class="banner-area">
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-start">
            <div class="col-lg-12">
                <div class="active-banner-slider owl-carousel">
                    @foreach (var item in Model.ProductList)
                    {
                        <div class="row single-slide align-items-center d-flex">
                            <div class="col-lg-5 col-md-6">
                                <div class="banner-content">
                                    <a href="~/Ürün/Detay?urunAdi=@item.Product.ProductName.Replace(" ","-")"> <h3>@item.Product.ProductName</h3></a>
                                    <p>
                                        @item.Product.Description
                                    </p>
                                    <div class="add-bag d-flex align-items-center">
                                        <a class="add-btn" href="~/Sepet/AddToCart?productId=@item.Product.ProductId"><span class="lnr lnr-cross"></span></a>
                                        <span class="add-text text-uppercase">Sepete Ekle</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="banner-img">
                                    <img src="@(item.Product.Images.FirstOrDefault(x=>x.IsMain==true)?.PublicId==null?"https://res.cloudinary.com/drwyecoiw/image/upload/c_scale,h_300/f_auto,q_auto/vqzqxfbthc3ez7i18pim":"https://res.cloudinary.com/drwyecoiw/image/upload/c_scale,h_300/f_auto,q_auto/"+(item.Product.Images.FirstOrDefault(x=>x.IsMain==true)?.PublicId))" alt="@item.Product.ProductName" />
                                </div>
                            </div>
                        </div>

                    }

                </div>
            </div>
        </div>
    </div>
</section>
