@{
    var controller = ViewContext.RouteData.Values["controller"].ToString();
    var Action = ViewContext.RouteData.Values["action"] == "Index" ? ViewContext.RouteData.Values["categoryName"] : ViewContext.RouteData.Values["action"];
}
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Ürünleri Listele</h1>
                <nav class="d-flex align-items-center">
                    <a href="~/@controller">@controller<span class="lnr lnr-arrow-right"></span></a>
                    @if (controller != "Ara")
                    {
                        <a href="~/@controller/@Action">@Action</a>
                    }
                    else
                    {
                        <a href="~/Ara?key=@ViewBag.Key">Ürünlerde '@ViewBag.Key' Arandı</a>

                    }

                </nav>
            </div>
        </div>
    </div>
</section>
