<footer class="footer-area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Hakkımızda</h6>
                    <p>
                        Karma E Ticaret Sistemi. Yahya Tezcan
                    </p>
                </div>
            </div>
            <div class="col-lg-4  col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Haber Bülteni</h6>
                    <p>Kampanyalardan ve son haberlerden ilk sen haberdar ol</p>
                  

                        <form asp-action="NewstellerSubscribe" novalidate="novalidate" asp-controller="Home" method="get">
                            <input type="text" name="Email" placeholder="Mail Adresinizi Girin" class="form-control" />
                            <button type="submit" class="btn btn-primary">Katıl</button>
                        </form>
                    </div>
            </div>
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget mail-chimp">
                    <h6 class="mb-20">Instragram Gönderileri</h6>
                    <ul class="instafeed d-flex flex-wrap">
                        <li><img src="~/KarmaUI/img/i1.jpg" alt=""></li>
                        <li><img src="~/KarmaUI/img/i2.jpg" alt=""></li>
                        <li><img src="~/KarmaUI/img/i3.jpg" alt=""></li>
                        <li><img src="~/KarmaUI/img/i4.jpg" alt=""></li>
                        <li><img src="~/KarmaUI/img/i5.jpg" alt=""></li>
                        <li><img src="~/KarmaUI/img/i6.jpg" alt=""></li>
                        <li><img src="~/KarmaUI/img/i7.jpg" alt=""></li>
                        <li><img src="~/KarmaUI/img/i8.jpg" alt=""></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h6>Bizi Takip Et</h6>
                    <p>Bizi Sosyal Medyadan Takip Et</p>
                    <div class="footer-social d-flex align-items-center">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
            <p class="footer-text m-0">
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            </p>
        </div>
    </div>
</footer>
@section ScriptSection{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var form = document.getElementById("subscribe-form");

            form.addEventListener("submit", function (event) {
                event.preventDefault(); 

                var emailInput = form.querySelector("input[name='Email']");
                var emailValue = emailInput.value;

                var xhr = new XMLHttpRequest();
                xhr.open("GET", "/Home/NewstellerSubscribe?Email=" + encodeURIComponent(emailValue), true);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status === 200) {
                            alert("Haber bültenine kaydınız alındı.");
                            form.reset(); 
                        } else {
                            alert("Bir hata oluştu. Lütfen daha sonra tekrar deneyin.");
                        }
                    }
                };
                xhr.send();
            });
        });
    </script>

}