@{
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="UTF-8">
    <title>Karma Shop - Hoşgeldiniz</title>
    <link rel="stylesheet" href="~/KarmaUI/css/linearicons.css">
    <link rel="stylesheet" href="~/KarmaUI/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/KarmaUI/css/themify-icons.css">
    <link rel="stylesheet" href="~/KarmaUI/css/bootstrap.css">
    <link rel="stylesheet" href="~/KarmaUI/css/owl.carousel.css">
    <link rel="stylesheet" href="~/KarmaUI/css/nice-select.css">
    <link rel="stylesheet" href="~/KarmaUI/css/nouislider.min.css">
    <link rel="stylesheet" href="~/KarmaUI/css/ion.rangeSlider.css" />
    <link rel="stylesheet" href="~/KarmaUI/css/ion.rangeSlider.skinFlat.css" />
    <link rel="stylesheet" href="~/KarmaUI/css/magnific-popup.css">
    <link rel="stylesheet" href="~/KarmaUI/css/main.css">
</head>
