@model Karma.MvcUI.Models.ProductListViewModel

@{
    Layout = "~/Views/Shared/_UILayout.cshtml";
} 
@{
    string href(string pageSize)
    {
        string queryString = Context.Request.RouteValues.ToString();
        if (queryString.Contains("?pageSize"))
        {
            return "?pageSize=" + pageSize;
        }
        else
        {
            return queryString + "?pageSize=" + pageSize;
        }
    }
}
<div class="container">
    <div class="row">
        <!--yan nav bar-->
        @await Component.InvokeAsync("LeftNavbar", new{productListViewModel = Model , Route = ViewContext.RouteData.Values["controller"]})

        <div class="col-xl-9 col-lg-8 col-md-7">
            <!-- Start Filter Bar -->
            <div class="filter-bar d-flex flex-wrap align-items-center">
                <div class="sorting">
                    <select>
                        <option value="1">Default sorting</option>
                        <option value="1">Default sorting</option>
                        <option value="1">Default sorting</option>
                    </select>
                </div>
            </div>
            <!-- End Filter Bar -->
            @await Component.InvokeAsync("Pagination",new{productListViewModel = Model ,page = Model.CurrentPage,pageSize = Model.PageSize})

            <!-- Start Filter Bar -->
            <div class="filter-bar d-flex flex-wrap align-items-center">
                <div class="sorting mr-auto">
                    <select onchange="window.location.href=this.value">
                      
                        <option value="?pageSize=12"><a href="@href("12")">12 Ürün</a></option>
                        <option value="?pageSize=24"><a href="?pageSize=24">24 Ürün</a></option>
                    </select>
                </div>
                <product-list-pager page-count="@Model.PageCount" page-size="@Model.PageSize" current-page="@Model.CurrentPage"></product-list-pager>
            </div>
            <!-- End Filter Bar -->
        </div>
    </div>
</div>
<br />
