@model CommentListViewModel

<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
    <div class="row">
        <div class="col-lg-6">
            <div class="comment_list">
                @foreach (var item in Model.Comments)
                {
                    <div class="review_item">
                        <div class="media">
                            <div class="d-flex">
                                <img src="~/KarmaUI/img/product/review-1.png" alt="">
                            </div>
                            <div class="media-body">
                                <h4>@item.Username</h4>
                                <h5>@item.AddedDate</h5>
                                <a class="reply_btn" href="#">Yanıtla</a>
                            </div>
                        </div>
                        <p>
                            @item.CommentContext
                        </p>
                    </div>
                }


                @*  <div class="review_item reply">
                <div class="media">
                <div class="d-flex">
                <img src="~/KarmaUI/img/product/review-2.png" alt="">
                </div>
                <div class="media-body">
                <h4>Blake Ruiz</h4>
                <h5>12th Feb, 2018 at 05:56 pm</h5>
                <a class="reply_btn" href="#">Reply</a>
                </div>
                </div>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo
                </p>
                </div> *@

            </div>
        </div>
        <div class="col-lg-6">
            <div class="review_box">
                <h4>Bir Yorum Bırak</h4>
                <form class="row contact_form" asp-action="Index" asp-controller="Comment" method="post" id="contactForm" >
                    <input hidden name="ProductId" value="@Model.ProductId" />
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" class="form-control" id="Username" name="Username" placeholder="Kullanıcı Adınız" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="email" class="form-control" id="EMail" name="EMail" placeholder="Email Adresiniz" required>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <textarea class="form-control" name="CommentContext" id="CommentContext" rows="1" placeholder="Mesajınız" required></textarea>
                        </div>
                    </div>
                    <div class="col-md-12 text-right">
                        <button type="submit" value="submit" class="btn primary-btn">Yorum Yap</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>